<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.meetfilm.mapper.HelloMapper">

    <resultMap id="actorMap" type="com.cskaoyan.meetfilm.bean.actor.Actor">
        <result column="UUID" property="Uuid"/>
        <result column="actor_name" property="actorName"/>
        <result column="actor_img" property="actorImg"/>
    </resultMap>
    <select id="queryActorById" resultMap="actorMap">
        select UUID,actor_name,actor_img from mtime_actor_t where UUID = #{id}
    </select>

</mapper>